
    <div class="left">
        <header>
          <button id="toggle" class="toggle">
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <h1><span data-text="~CodeHart~">~CodeHart~</span> installaion</h1>
          <p>Begin CodeHart Installation SetUp.</p>
          <button class="cta-btn" id="toggle2">Login</button>
          <button class="cta-btn" id="open">Demo</button>
        </header>

    </div>
    <div class="right">
    <form class="user-form" id="register" method="post">
        <div class="modal-header">
            <h3>Create Account</h3>
        </div>
        <div class="modal-content">
            <div class="modal-form">
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email" class="form-input"  placeholder="bruiz@bruiz.dev">
                </div>
                <div>
                    <label for="">Username</label>
                    <input type="text" name="username" autocomplete="off" class="form-input" placeholder="Bruiz">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-input" placeholder="****">
                    <!-- <span>show</span> -->
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
            </div
        </div>
    </form>

    </div>